#selected-filter {
    font-size: 21px;
    padding: 16px 0 28px 24px;
    font-weight: 300;
}

#filter-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 24px;
}

#filter-list p {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 10px;
    color: #878787;
    cursor: grab;
}

#filter-list p:first-of-type {
    margin-left: 15px;
}

#filter-list #filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

#filter-list p[id=sort]{
    color: black;
    border: 1px solid black;
    margin-bottom: 25px;
}

#filter-list .active {
    color: white;
    background-color: rgb(27, 27, 27);
    border: none;
}


@media screen and (max-width: 600px) {

    #filter-list p {
        font-size: 10px;
        border-radius: 15px;
        padding: 5px 10px;
        margin: 5px;
    }
  }
