nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 24px;
}

nav img {
    height: 38px;
    width: 38px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav #pages, nav #options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 550;
    cursor: grab;
}

nav #options img {
    height: 20px;
    width: auto;
    padding-right: 14px;
    font-size: 12px;
}

nav #options #cart {
    color: white;
    background-color: #E64C09;
    font-size: 11px;
    font-weight: 300;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    text-align: center;
    margin: 0 0 22px -19px;
    cursor: pointer;
}

nav #pages {
    transform: translateX(10%);
}

nav #pages a {
    padding: 0 20px;
    font-size: 14px;
}

nav #shop-dropdown {
    display: flex;
    align-items: center;
}

nav #shop-dropdown img {
    height: 6px;
    margin-left: -28px;
    margin-top: 3px;
}

nav .align-horizontal {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {

    nav #pages p {
        padding: 0 15px;
    }
    
    nav #options img {
        padding-right: 10px;
    }    
  }

  @media screen and (max-width: 600px) {

    nav #pages {
        display: none;
    }
  }